header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
}

.site-title {
    font-size: 28px;
    color: black;
}

.site-logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

main {
    margin-top: 50px;
}

.add-character-form {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.add-character-form > input {
    border-radius: 6px;
    border: 1px solid black;
    border-width: 1.5px;
    padding: 10px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}

.add-character-form > button {
    font-family: Inter, sans-serif;
    padding: 10px;
    border-radius: 6px;
    border-width: 1.5px;
    background-color: black;
    color: white;
    cursor: pointer
}